.Items {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 0 0 25%;
    justify-content: space-evenly;
    margin-left: auto;
    font-size: 20px;
    color: #16697a;
    font-weight: 600;
}

@media (max-width: 900px) {
    .Items {
        flex: 0 0 40%;
    }
}

@media (max-width: 600px) {
    .Items {
        flex: 0 0 60%;
    }
}

@media (max-width: 400px) {
    .Items {
        flex: 0 0 100%;
    }
}